Cython>=0.25
h5py>=2.6
numpy>=1.15
pandas>=0.19
scipy>=0.18
tabulate>=0.7
scikit-learn
tqdm
tensorflow==2.6.4
PyYAML>=3.12
absl-py
matplotlib>=3.0
seaborn>=0.7
uvicorn
fastapi
pydantic==0.32.2
python-multipart
scikit-image==0.14.2
pytest
bert-tensorflow
spacy>=2.2
fabric==2.5.0
cryptography==2.8
